// Variables
$background-primary: #ffffff;
$background-secondary: #000000;
$background-terceary: #7e7e7e;
$text-color: #464646;
$button-menu-primary: #daa97f;

.Header {
  background-color: $background-terceary;
  height: 170px;

  .Logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    box-shadow: 0 0 6px inset #000000;
    height: 110px;
    position: relative;

    img {
      position: absolute;
      bottom: -50px;
      max-width: 150px;
      background-color: #d38858;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0 0 6px #000000;
    }
  }
}